.imageOfJake{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.imageOfRafael{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}